@import "../../../shared/scss/variables";
@import "../../../shared/scss/mixin";

nmb-programming-experience {
    display: flex;
    flex-direction: column;

    .short-description {
        padding: 20px;
    }

    .experience-tiles {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .experience-tile {
        margin: 15px;
        flex: 1 0 30%;
        flex-wrap: wrap;
    }

    @include phone {
        .experience-tiles {
            flex-direction: column;
        }

        .experience-tile {
            flex: 1 0 auto;
            margin: 15px 0 15px 0;
        }
    }
}

