@import "../../scss/variables";

nmb-navigation {
    display: flex;
    flex-direction: row;

    .url {
        padding-left: 5px;
        padding-right: 5px;

        &-title {
            margin-left: 10px;
        }
    }
}

@media only screen and (max-width: $mobile) {
    nmb-navigation {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-top: 15px;

        .url {
            padding-top: 5px;
            padding-bottom: 5px;

            button {
                min-width: 250px;
                width: 100%;
            }
        }
    }
}