@import "../../scss/variables";
@import "../../scss/mixin";

nmb-app-shell {

    .nmb-application-container {
        // force flex and max screen size
        display: flex;
        overflow: hidden;
        flex-direction: column;
        min-height: $app-min-height;
        min-width: $app-min-width;
        width: 100vw;
        height: 100vh;
        max-height: 100vh;
        max-width: 100vw;

        mat-toolbar {
            flex-shrink: 0;
        }
    }

    .nmb-application-routes {
        overflow: auto;
        flex: 1;
        max-height: 100%;
        max-width: 100%;
        position: relative;
        width: 100%;
    }

    .nmb-page-content {
        padding: 15px 0 15px 0;
        overflow: hidden;
    }

    .mobile-navigation {
        display: none;
    }

    .loader-container {
        height: 3px;
        overflow: hidden;
        position: absolute;
    }

    @include phone {
        .mobile-navigation {
            display: block;
        }

        .desktop-navigation {
            display: none;
        }
    }
}
